<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LAW Final Assignment</title>
</head>
<body>
    <fieldset style="width: 40%">
        <form action="{{ url_for('place_order') }}" method="POST">
            <b>Enter URL:</b><br>
            {% for i in range(10) %}
                <input style="width: 90%" type="url" name=link-{{ i }} required><br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </fieldset>
</body>
</html>
